body{
  background-color: lightgray;
}

#title {
  font-family: Arial;
  padding-top: 2%;
  font-weight: bolder;
  text-align: center;
  color: white;

}

#description  {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: blue;
}

#footer {
  text-align: center;
}